/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
}

/*========== General Styles ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  color: var(--text-color);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay .shape {
  width: initial;
  opacity: 0.13;
  position: absolute;
}

.overlay.overlay-lg .shape {
  height: 55px;
}

.overlay.overlay-lg .shape.wave {
  height: initial;
  width: 88px;
}

.overlay.overlay-lg .shape.xshape {
  height: 38px;
}

.points {
  opacity: 0.3;
  position: absolute;
}

.section {
  padding: 7rem 0;
}

/*========== Header ==========*/
header {
  width: 100%;
  background-color: var(--body-color);
  overflow: hidden;
  position: relative;
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.logo {
  width: 80px;
  display: flex;
  align-items: center;
}

.links ul {
  display: flex;
}

.links a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  color: var(--title-color);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
}

.links a.active {
  background-color: var(--first-color);
  color: #fff;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.9rem 2.1rem;
  margin-left: 1rem;
}

.links a:hover {
  color: var(--first-color);
}

.links a.active:hover {
  color: #fff;
  background-color: var(--first-color-alt);
}

.header-content .image .img-element {
  max-width: 600px;
}

.header-title-color {
  color: var(--first-color);
}

.header-content .container.grid-2 {
  grid-template-columns: 2.5fr 3.5fr;
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
}

.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color: var(--title-color);
}

.header-content .text {
  margin: 2.15rem 0;
}

.social-icon {
  font-size: 1.6rem;
  color: var(--first-color);
  display: inline-block;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
}

.social-icon:hover {
  color: var(--first-color-alt);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--first-color);
  color: #fff;
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

header .points1 {
  width: 420px;
  bottom: -75px;
  left: -150px;
}

header .points2 {
  width: 70%;
  top: 65%;
  left: 71%;
}

header .square {
  right: 68%;
  top: 71%;
}

header .triangle {
  right: 7%;
  bottom: 75%;
}

header .xshape {
  right: 4%;
  bottom: 50%;
}

header .half-circle1 {
  left: 50%;
  bottom: 82%;
}

header .half-circle2 {
  left: 5%;
  top: 67%;
}

header .wave1 {
  bottom: 75%;
  left: 20%;
}

header .wave2 {
  bottom: 8%;
  right: 55%;
}

header .circle {
  left: 38%;
  bottom: 63%;
}

.letters {
  position: absolute;
  width: 13.5%;
  top: -5px;
  left: 15px;
  opacity: 0.06;
}

/*========== ABOUT ==========*/
.about {
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--first-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: '';
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--first-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skills-title {
  font-size: 1.5rem;
  margin: 2.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-subtitle {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0 2.5rem 0;
  padding: 0.85rem 2rem;
  background-color: var(--first-color-lighter);
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--title-color);
}

.about-img {
  max-width: 600px;
  border-radius: 2rem;
}

.about .text {
  margin-top: 1rem;
  text-align: center;
}

.about .column-1 {
  position: relative;
}

.about .column-2:before {
  content: 'About';
  position: absolute;
  font-size: 8rem;
  font-weight: 800;
  color: var(--first-color);
  opacity: 0.08;
  top: 20px;
  right: 0;
  line-height: 0;
}

.about .points {
  width: 300px;
  bottom: -200px;
  left: -150px;
}
